<div class="h-full lg:h-3/5 bg-slate-200">
    <div class="py-4 px-8 md:px-12 md:text-left h-full">
        <h3 id="about"
            class="text-slate-500 text-4xl md:text-4xl lg:text-5xl mt-5 md:mt-0 uppercase text-center lg:text-left">
            About me</h3>
        <div class="mt-5 flex">
            <img class="rounded-full mx-auto w-3/5 md:h-48 lg:h-72" src="{{ '/assets/me.png' | url }}"></img>
        </div>

        <p class="mt-4 text-justify">
            Being Fullstack Engineer transcends the buzzword for me. I am passionate about all stages of a software's
            lifecycle and every layer of its implementation from the UX design to the network configuration.
            While always focusing on the task at hand, I ensure that the big picture is never overlooked.
        </p>
        <p class="mt-2 text-justify">
            Professionally, I am committed to productivity. I consider it my mission to eliminate any of
            my team's obstacles to developing stable,  user-friendly and value-generating software rapidly and,
            critically, to sustain that pace indefinitely.
        </p>
        <p class="mt-2 text-justify">
            To that end, I am an advocate for rigorous automation, especially in testing. I believe in a test-driven approach
            at every stage and layer.
        </p>
    </div>


</div>