<div class="h-full lg:h-3/5 xl:h-auto bg-slate-200" id="about">
    <div class="flex flex-col py-8 lg:py-12 xl:py-20 px-8 lg:px-12 xl:px-28 md:text-left h-full xl:h-auto">
        <h3
            class="text-slate-500 text-4xl md:text-5xl uppercase text-center lg:text-left">
            About me
        </h3>
        <div class="flex flex-col justify-around h-full lg:h-auto lg:flex-row lg:mt-10 lg:gap-8">

            <div class="mt-5 lg:mt-0 flex">
                <img class="rounded-full mx-auto lg:mx-0 w-3/5 lg:w-auto lg:h-full xl:w-auto xl:h-3/5" src="{{ '/img/me.png' | url }}"></img>
            </div>

            <div class="mt-4 lg:mt-0">
                <p class="text-justify">
                    Being Fullstack Engineer transcends the buzzword for me. I am passionate about all stages of a
                    software's
                    lifecycle and every layer of its implementation from the UX design to the network configuration.
                    While always focusing on the task at hand, I ensure that the big picture is never overlooked.
                </p>
                <p class="mt-2 text-justify">
                    Professionally, I am committed to productivity. I consider it my mission to eliminate any of
                    my team's obstacles to developing stable, user-friendly and value-generating software rapidly and,
                    critically, to sustain that pace indefinitely.
                </p>
                <p class="mt-2 text-justify">
                    To that end, I am an advocate for rigorous automation, especially in testing. I believe in a test-driven
                    approach
                    at every stage and layer.
                </p>

                <div class="hidden lg:block xl:hidden mt-12 text-center">
                    {% link "techstack", "Techstack" %}
                </div>
            </div>

            <div class="lg:hidden text-center">
                {% link "techstack", "Techstack" %}
            </div>
        </div>
    </div>


</div>