<head>
    <title>Marvin Reissohn - Senior Fullstack Engineer</title>
    <link rel="stylesheet" href="assets/tailwind.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


