<div class="h-full lg:h-2/5 bg-slate-100">

    <div class="p-8 md:px-12 lg:p-28 md:text-left h-full flex">
        <div class="text-center lg:text-left my-auto">
            <h1 class="uppercase text-5xl md:text-7xl lg:text-8xl">Marvin Reissohn</h1>
            <h3 class="text-slate-500 text-4xl md:text-4xl lg:text-5xl mt-5 md:mt-0">Senior Fullstack Engineer</h3>

            <div class="mt-5 lg:hidden">
                <a href="#about" class="uppercase justify-center text-center text-4xl md:text-4xl lg:text-5xl flex">
                    More
                    <object class="w-8 cursor-pointer" data="{{ '/img/down-arrow.svg' | url }}"></object>
                </a>
            </div>
        </div>
    </div>

</div>